@charset "UTF-8";

/* CSS Document */


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* add your custom css here */

* {
    margin: 0px auto;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 100%;
    height: 1000px;
}

header {
  margin: 0px auto;
  padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 50px;
    padding: 50px;
    text-align: center;
}

main {
  width: 90%;
}

.buttons {
    margin: 0 auto;
    padding: 0;
    text-align: left;
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 20px;
}

#factSheet {
    font-size: 36px;
    margin: auto 0;
    padding: 0;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: white;
    display: none;
    opacity: .85;
}

section#factSheet {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  padding: 0;
}

#video {
  position: absolute;
  text-align: right;
  right: 10%;
  bottom: 25%;
}

#fsh1 {
  text-align: left;
  margin-top: 2%;
  margin-left: 5%;

}

#fsh2 {
  text-align: left;
  margin-left: 5%;
}

#fsh1, #fsh2 {
  line-height: 1.3em;
  width: 400px;
  font-size: 16px;
  font-weight: bold;
}

#fsh3 {
  text-align: left;
  margin-left: 5%;
  margin-top: 2%;
  color: red;
  font-size: 26px;
}

#factSheet p {
  text-align: left;
  margin-left: 5%;
  width: 400px;
}

#info {
  margin-top: 2%;
}

#fshph1, #fshph2, #fshph3 {
  margin-top: 1%;
  font-size: 16px;
  line-height: 2em;
  font-weight: bold;
}

#fshp1, #fshp2, #fshp3 {
  font-size: 12px;
  line-height: 1.3em;
  font-family: 'Open Sans', sans-serif;
}

#link {
  position: relative;
  text-align: right;
  font-size: 16px;
  bottom: 5%;
  right: 18%;
}

#link a:link {
    color: #ffffff;
}

#link a:visited {
    color: #ffffff;
    text-decoration: underline;
}

#link a:hover {
    color: #ffffff;
    background-color: #ABC178;
}


section #close {
    position: absolute;
    top: 5%;
    right: 3%;
}

.learnMore {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 14px;
  border: 3px solid white;
  border-radius: 10px;
  width: 100px;
  opacity: 1;
}

.tip {
    margin: 0 auto;
    padding: 8px;
    bottom: 90px;
    text-align: center;
    position: relative;
    width: 284px;
    display: inline;
    float: left;
    font-size: 26px;
    color: white;
    background-color: black;
    opacity: 0;
}

img {
  opacity: 0.5;
  filter: alpha(opacity=50); /* for IE8 and earlier */
}

img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* for IE8 and earlier */
}

footer {
    position: fixed;
    height: auto;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 8px;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 12px;
}

footer a:link {
    color: #000000;
    text-decoration: none;
    padding: 8px;
}

footer a:visited {
    color: #000000;
    text-decoration: underline;
    padding: 8px;
}

footer a:hover {
    color: #ffffff;
    background-color: #ABC178;
    padding: 8px;
}
