* {
  margin:0;
  padding:0;
  }

html {
    background: #ffffff;
    cursor: crosshair;
    text-align: center;
}

/*header {
  margin: 0 auto;
  padding: 0 auto;
  max-width: 800px;
  text-align: center;
}*/

header a {
  text-decoration: none;
}

article {
    max-width: 600px;
    height: 2000px;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    padding: 0;
    margin-top: 100px;
}


p {
    font-size: 12px;
    max-width: 600px;
    font-family: 'Arvo', serif;
    text-align: left;
}

h3 {
  font-family: 'Anton', sans-serif;
  padding: 10px;
  background-color: cyan;
  max-width: 600px;
  text-align: left;
}

h4 {
  font-family: 'Arvo', serif;
}

footer {
  position: fixed;
  height: auto;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #ffffff;
  text-align: center;
  font-size: 14px;
}

footer a:link {
  color: #000000;
  text-decoration: none;
}

footer a:visited {
  color: #000000;
  text-decoration: underline;
}

footer a:hover {
  color: #ffffff;
  background-color: #000000;
}
