html {
    background: #ffffff;
    cursor: crosshair;
}

body {
    width: auto;
    text-align: center;
    font-family: 'Overpass Mono', monospace;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

section{
    position: absolute;
    width: 800px;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 25px;
    padding-left: 50px;
}

div {
    float: left;
    margin-top: 290px;
    padding: 0;
    display: inline-block;
    font-size: 12px;
}

footer {
    position: fixed;
    height: auto;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-color: #00ffff;
    text-align: center;
    font-size: 14px;
}

li {
    list-style-position: inside;
    text-align: left;
}

a:link {
    color: #ffffff;
    text-decoration: none;
}

a:visited{
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    background-color: cyan;
    text-decoration: none;
}
